.casa_caja{
  width: 800px;
  height: 600px;
  margin:0 auto;
  position: relative;
  background-color: #81F7F3;

}
.pasto{
  background-color: #64FE2E;
  border: 1px solid black;
  width: 800px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}
.base{
  background-color:#D0A9F5;
  border: 1px solid black;
  width: 350px;
  height: 260px;
  position: absolute;
  left:250px;
  bottom: 50px;
}
.techo{
    width: 350px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 130px solid #428bca;
    bottom: 260px;
    left: -60px;
    position: absolute;
}
.ventana-1{
  width: 80px;
  height: 75px;
  border: 1px solid #black;
  background-color: #FF0080;
  top: 150px;
  position: absolute;
  left:40px;
}
.ventana-2{
  width: 80px;
  height: 75px;
  border: 1px solid #black;
  background-color: #FF0080;
  top: 0px;
  position: absolute;
  left: 190px;
}
}
.puerta{
  width: 120px;
  height: 130px;
  background-color: #380B61;
  top: 110px;
  position: absolute;
  left: -110px;
}
.chimenea{
  width: 60px;
  height: 65px;
  background-color: #8A0808;
  bottom: 360px;
  position: absolute;
  left: 120px;
}
.humo-1{
    width: 65px;
     height: 65px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #848484;
     position: absolute;
     bottom: 70px;
     left: 5px;
}
.humo-2{
    width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #848484;
     position: absolute;
     bottom: 70px;
     left: 5px;
}